<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="scripts/angular.min.js"> </script>
    <script src="app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as mlist">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group" >
      <input type="text" placeholder="search term" class="form-control" ng-model="mlist.searchTerm">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="mlist.narrowItDown()">Narrow It Down For Me!</button>
    </div>
    <br /> <br />
    <div class="error" ng-if="mlist.showError[0]"> 
      <p>Nothing Found </p>
    </div> 
    <!-- found-items should be implemented as a component -->
    <found-items found-items="mlist.items" on-remove='mlist.onRemove()' show-error ='mlist.showError' ></found-items>
    
  </div>

</body>  
</html>
